---
http_interactions:
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getTrims
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{\"Trims\":[{\"model_id\":\"49413\",\"model_make_id\":\"scion\",\"model_name\":\"FR-S\",\"model_trim\":\"Automatic\",\"model_year\":\"2013\",\"model_body\":\"Coupe\",\"model_engine_position\":\"Front\",\"model_engine_cc\":\"1998\",\"model_engine_cyl\":\"4\",\"model_engine_type\":\"boxer\",\"model_engine_valves_per_cyl\":\"4\",\"model_engine_power_ps\":\"202\",\"model_engine_power_rpm\":\"7000\",\"model_engine_torque_nm\":\"205\",\"model_engine_torque_rpm\":\"6600\",\"model_engine_bore_mm\":null,\"model_engine_stroke_mm\":null,\"model_engine_compression\":null,\"model_engine_fuel\":\"Gasoline\",\"model_top_speed_kph\":null,\"model_0_to_100_kph\":\"6.8\",\"model_drive\":\"Rear\",\"model_transmission_type\":\"Automatic\",\"model_seats\":\"4\",\"model_doors\":\"2\",\"model_weight_kg\":\"1230\",\"model_length_mm\":\"4240\",\"model_width_mm\":\"1775\",\"model_height_mm\":\"1285\",\"model_wheelbase_mm\":\"2570\",\"model_lkm_hwy\":\"6.9\",\"model_lkm_mixed\":null,\"model_lkm_city\":\"9.4\",\"model_fuel_cap_l\":\"50\",\"model_sold_in_us\":\"1\",\"make_display\":\"Scion\",\"make_country\":\"Japan\"},{\"model_id\":\"52587\",\"model_make_id\":\"scion\",\"model_name\":\"FR-S\",\"model_trim\":\"Manual\",\"model_year\":\"2013\",\"model_body\":\"Coupe\",\"model_engine_position\":\"Front\",\"model_engine_cc\":\"1998\",\"model_engine_cyl\":\"4\",\"model_engine_type\":\"boxer\",\"model_engine_valves_per_cyl\":\"4\",\"model_engine_power_ps\":\"202\",\"model_engine_power_rpm\":\"7000\",\"model_engine_torque_nm\":\"205\",\"model_engine_torque_rpm\":\"6600\",\"model_engine_bore_mm\":null,\"mo[...]
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getTrims&make=ford&model=f-350&year=2012
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{\"Trims\":[{\"model_id\":\"48922\",\"model_make_id\":\"ford\",\"model_name\":\"F-350\",\"model_trim\":\"Super
        Duty King Ranch\",\"mode[...]
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getTrims&make=ford&model=f-350&year=2015
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{\"Trims\":[]}"
  recorded_at: Sat, 28 Apr 2012 03:07:04 GMT
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getTrims&full_results=0&make=ford&model=f-350&year=2012
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{\"Trims\":[{\"model_id\":\"48922\",\"model_year\":\"2012\",\"model_make_id\":\"ford\",\"model_name\":\"F-350\",\"model_trim\":\"Super
        Duty King Ranch\",\"make_display\":\"Ford\",\"make_country\":\"USA\"},{\"model_id\":\"48921\",\"model_year\":\"2012\",\"model_make_id\":\"ford\",\"model_name\":\"F-350\",\"model_trim\":\"Super
        Duty Lariat\",\"make_display\":\"Ford\",\"make_country\":\"USA\"},{\"model_id\":\"48919\",\"model_year\":\"2012\",\"model_make_id\":\"ford\",\"model_name\":\"F-350\",\"model_trim\":\"Super
        Duty XL\",\"make_display\":\"Ford\",\"make_country\":\"USA\"},{\"model_id\":\"48920\",\"model_year\":\"2012\",\"model_make_id\":\"ford\",\"model_name\":\"F-350\",\"model_trim\":\"Super
        Duty XLT\",\"make_display\":\"Ford\",\"make_country\":\"USA\"}]}"
  recorded_at: Sat, 28 Apr 2012 03:12:24 GMT
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getTrims&full_results=0&keyword=ford%20f-350
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{\"Trims\":[{\"model_id\":\"48922\",\"model_year\":\"2012\",\"model_make_id\":\"ford\",\"model_name\":\"F-350\",\"model_trim\":\"Super
    [...]
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getTrims&full_results=0&keyword=no%20matching%20keyword%20here!
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{\"Trims\":[]}"
  recorded_at: Sat, 28 Apr 2012 03:16:08 GMT
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getModel
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{ \"error\":\"missing required parameter to GetModel.\"}"
  recorded_at: Sat, 28 Apr 2012 03:29:42 GMT
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getModel&model=48922
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n[{\"model_id\":\"48922\",\"model_make_id\":\"ford\",\"model_name\":\"F-350\",\"model_trim\":\"Super
        Duty King Ranch\",\"model_year\":\"2012\",\"model_body\":\"Pickup\",\"model_engine_position\":\"Front\",\"model_engine_cc\":\"6200\",\"model_engine_cyl\":\"8\",\"model_engine_type\":\"V\",\"model_engine_valves_per_cyl\":\"2\",\"model_engine_power_ps\":\"390\",\"model_engine_power_rpm\":\"5500\",\"model_engine_torque_nm\":\"548\",\"model_engine_torque_rpm\":\"4500\",\"model_engine_bore_mm\":null,\"model_engine_stroke_mm\":null,\"model_engine_compression\":null,\"model_engine_fuel\":\"Flex
        Fuel\",\"model_top_speed_kph\":null,\"model_0_to_100_kph\":null,\"model_drive\":\"Rear\",\"model_transmission_type\":\"6-speed
        shiftable automatic\",\"model_seats\":null,\"model_doors\":null,\"model_weight_kg\":null,\"model_length_mm\":\"6269\",\"model_width_mm\":\"2029\",\"model_height_mm\":\"1961\",\"model_wheelbase_mm\":\"3967\",\"model_lkm_hwy\":null,\"model_lkm_mixed\":null,\"model_lkm_city\":null,\"model_fuel_cap_l\":\"132\",\"model_sold_in_us\":\"1\",\"model_engine_l\":\"6.2\",\"model_engine_ci\":\"378\",\"model_engine_bore_in\":null,\"model_engine_stroke_in\":null,\"model_engine_valves\":\"16\",\"model_engine_power_hp\":\"385\",\"model_engine_power_kw\":\"287\",\"model_engine_torque_lbft\":\"404\",\"model_engine_torque_kgm\":\"56\",\"model_top_speed_mph\":null,\"model_weight_lbs\":null,\"model_length_in\":\"246.8\",\"model_width_in\":\"79.9\",\"model_height_in\":\"77.2\",\"model_wheelbase_in\":\"156.2\",\"model_mpg_hwy\":null,\"model_mpg_city\":null,\"model_mpg_mixed\":null,\"model_fuel_cap_g\":\"34.9\",\"make_display\":\"Ford\",\"make_country\":\"USA\",\"ExtColors\":[],\"IntColors\":[]}]"
  recorded_at: Sat, 28 Apr 2012 03:30:40 GMT
[...]
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getModel
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{ \"error\":\"missing required parameter to GetModel.\"}"
  recorded_at: Sat, 28 Apr 2012 03:59:09 GMT
recorded_with: VCR 2.1.1
