---
http_interactions:
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{ \"error\":\"invalid AJAX cmd specified.\"}"
  recorded_at: Sat, 28 Apr 2012 01:32:32 GMT
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getYears
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{ \"Years\": {\"min_year\":\"1940\", \"max_year\":\"2012\"} }"
  recorded_at: Sat, 28 Apr 2012 01:36:31 GMT
[...]
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "\r\n{ \"error\":\"invalid AJAX cmd specified.\"}"
  recorded_at: Sat, 28 Apr 2012 03:32:28 GMT
recorded_with: VCR 2.1.1
